%h2
  Aug 06 - Jul 07
%h4
  High-School-Year
V Lyceum Ogolnoksztalcacy Dabrowa Gornicza

%h2
  Aug 07 - Jul 09
%h4
  Higher education entrance qualification (A-levels)
Rosa-Luxemburg-Gymnasium Berlin

%h2
  Oct 09 – Jul 13
%h4
  Bachelor of Science in Urban Planning
Technical University Berlin, Berlin (Germany)

%h2
  Aug 13– Jul 16
%h4
  IT Specialist, Application Development EQF level 5
Berlin College of Further Education for Information Technology and Medical Equipment Technology, Berlin (Germany)
General
▪ Economicandsocialstudies
▪ Businesseconomics
Occupational
▪ Technicalenglish
▪ Applicationdevelopment-ITsystems-Linux