%h2 [ Education ]
%h4
  Aug 06 - Jul 07
%h5
  High-School-Year
V Lyceum Ogolnoksztalcacy Dabrowa Gornicza

%hr

%h4
  Aug 07 - Jul 09
%h5
  Higher education entrance qualification (A-levels)
Rosa-Luxemburg-Gymnasium Berlin

%hr

%h4
  Oct 09 – Jul 13
%h5
  Bachelor of Science in Urban Planning
Technical University Berlin, Berlin (Germany)

%hr

%h4
  Aug 13– Jul 16
%h5
  IT Specialist, Application Development EQF level 5
Berlin College of Further Education for Information Technology and Medical Equipment Technology, Berlin (Germany)
%h6 General
%ul
  %li
  %li Economic and Social Studies
  %li Business Economics
%h6 Occupational
%ul
  %li Technical English
  %li Applicationdevelopment
  %li IT-Systems
  %li Linux