.container
  .jumbotron
    .flexslider
      %ul.slides
        %li{"data-thumb" => "/img/lightbox/bratislava.jpg"}
          %img{:src => "/img/lightbox/bratislava.jpg"}/
        %li{"data-thumb" => "/img/lightbox/brussels.jpg"}
          %img{:src => "/img/lightbox/brussels.jpg"}/
        %li{"data-thumb" => "/img/lightbox/budapest.jpg"}
          %img{:src => "/img/lightbox/budapest.jpg"}/
        %li{"data-thumb" => "/img/lightbox/bucarest.jpg"}
          %img{:src => "/img/lightbox/bucarest.jpg"}/
        %li{"data-thumb" => "/img/lightbox/istanbul.jpg"}
          %img{:src => "/img/lightbox/istanbul.jpg"}/
        %li{"data-thumb" => "/img/lightbox/marseille.jpg"}
          %img{:src => "/img/lightbox/marseille.jpg"}/
        %li{"data-thumb" => "/img/lightbox/oslo.jpg"}
          %img{:src => "/img/lightbox/oslo.jpg"}/
        %li{"data-thumb" => "/img/lightbox/singapore.jpg"}
          %img{:src => "/img/lightbox/singapore.jpg"}/
        %li{"data-thumb" => "/img/lightbox/swiss.jpg"}
          %img{:src => "/img/lightbox/swiss.jpg"}/
        %li{"data-thumb" => "/img/lightbox/tandem.jpg"}
          %img{:src => "/img/lightbox/tandem.jpg"}/
        %li{"data-thumb" => "/img/lightbox/warsaw.jpg"}
          %img{:src => "/img/lightbox/warsaw.jpg"}/

:javascript
  $(window).load(function() {
    $('.flexslider').flexslider({
      animation: "slide",
      controlNav: "thumbnails"
    });
  });