%h1 Contact
%img.border{:src => "/img/border.jpg"}
%div.info
  %div.circle
    %li Professional Info
  %table
    %tr
      %td Name:
      %td Nina Stache
    %tr
      %td Age:
      %td 25
    %tr
      %td Born and Lives in:
      %td Berlin
    %tr
      %td E-Mail:
      %td NinaStache [at] gmx.de
    %tr
      %td Skype:
      %td nina.stache
    %tr
      %td Xing:
      %td= link_to 'xing', "https://www.xing.com/profile/Nina_Stache", target: :blank
    %tr
      %td Facebook:
      %td
    %tr
      %td Language:
      %td Ruby
