%h2 Personal Statement
%img.border{:src => "/img/border.jpg"}
%p
I am a 25 years old apprentice in Application Development interested in an internship abroad as a Software Developer for up to four months.
Until two years ago I had no experience in coding at all (please don't stop reading now) but after finishing my Bachelor’s degree in Urban Planning in 2013 I knew I wanted to go for something completely new, something extremely challenging and exciting. I decided: if I want to start all over I don't want to go to University again but rather learn everything I need hands-on in a company environment.
%p
That is why in 2013 I began an apprenticeship which includes full-time employment in a company (in my case it is Absolventa http://www.absolventa.de/) and attending vocational school every three to five weeks for a whole week. Until now I don't regret my decision at all but I am quite aware of how much I have to learn. That is why I would love to get the opportunity to broaden my knowledge in another company and getting to know other procedures and working in another cultural environment.
%p
When I applied for my apprenticeship I was lucky to come upon Absolventa, the company that decided to hire me even though I had no further experience in coding, but who were willing to support a young woman to enter the big world of web development. Ruby and Ruby on Rails was a great start for me to learn to code and I was lucky to take part in a RailsGirls workshop and visited a ruby conference in Lyon (RuLu) already. That is why I want to deepen my Ruby and RoR skills in a company working with RoR as well as to exchange knowledge and experiences. I am used to motivating myself, working with new topics and learning a lot within a short time.
%p
So far I contribute to improving my companies official websites by solving front- and backend tasks, including database handling, implementation of front end changes using mainly HAML and SASS, writing migration scripts and much more. I was able to acquire a good understanding of the MVC and how a Rails application functions. In my spare time I try to improve my coding skills as well - recently I started working on a personal website and am trying to implement other little projects. From time to time I go to meet-ups listening to talks about related topics. So far I haven’t specialized in a subject as our development team is quite small and I have a broad range of tasks to work on, which is why I have no specific preferences what to work on exactly but I do want to gain a deeper insight into a specific field.

%p
= link_to 'Ask me a question!', new_question_path, class: "btn btn-info"

%div.middle
  %p
  %div.circle.red
    %li= link_to 'My Resume', resume_path
  %div.circle.yellow
    %li= link_to 'My Work', mycode_path
  %div.circle.green
    %li= link_to 'My Skills', skills_path