%h1 RESUME
%hr
%div.info
  %div.circle
    %li Professional Info
  %table
    %tr
      %td Name:
      %td Nina Stache
    %tr
      %td Age:
      %td 25
    %tr
      %td Born and Lives in:
      %td Berlin
    %tr
      %td E-Mail:
      %td NinaStache [at] gmx.de
    %tr
      %td Skype:
      %td nina.stache
    %tr
      %td Xing:
      %td= link_to 'xing', "https://www.xing.com/profile/Nina_Stache", target: :blank
    %tr
      %td Facebook:
      %td
    %tr
      %td Language:
      %td Ruby
%hr
%div.work
  %div.circle
    %li Work Experience
  %h4
    Aug 09 – Oct 09
  %h5
    Intern
  %h5
    Company: Senate administration for urban development, Berlin (Germany)
  %p Maintenance of database
  %p Participation and recording during meeting
  %div.indent
    %h4
      Dec 12 - Jul 13
    %h5
      Student Employee Engineering Performance Office
    %h5
      Company: Bombardier Transportation, Hennigsdorf (Germany)
    %p Worked on complex projects such as:Generic Work Packages
    %p Reorganization of Organizational Charts
    %p Support of the Head of Engineering Performance Office
    %p Research and implementation of project management software

  %div.indent
    %h4
      Aug 13 – Mar 14
    %h5
      Apprentice IT Specialist, Application Development
    %h5
      Company: DEMOS Gesellschaft für E-Partizipation, Berlin (Germany)
    %p Introduction into electrical engineering
    %p HTML and CSS
    %p Build LaTeX templates

  %div.indent
    %h4
      Apr 14 – Present
    %h5
      Apprentice IT Specialist, Application Development
    %h5
      Company: Absolventa - Employment Website, Berlin (Germany) Developing our main application which includes:
    %p Solving front-end tasks with HTML and CSS
    %p Backend development with Ruby and Ruby on Rails(currently version 4.1)
    %p Implementation of UX optimised changes
    %p Developing internal web application
    %p Writing and reviewing code
    %p Writing migration scripts and pushing changes
%hr
%div.education
  %div.circle
    %li Education
  %h4
    Aug 06 - Jul 07
  %h5
    High-School-Year
  V Lyceum Ogolnoksztalcacy Dabrowa Gornicz
%div.indent
  %h4
    Aug 07 - Jul 09
  %h5
    Higher education entrance qualification (A-levels)
  Rosa-Luxemburg-Gymnasium Berli
%div.indent
  %h4
    Oct 09 – Jul 13
  %h5
    Bachelor of Science in Urban Planning
  Technical University Berlin, Berlin (Germany
%div.indent
  %h4
    Aug 13– Jul 16
  %h5
    IT Specialist, Application Development EQF level 5
  Berlin College of Further Education for Information Technology and Medical Equipment Technology, Berlin (Germany)
  %h5 General
  %p Economic and Social Studies
  %p Business Economics
  %h5 Occupational
  %p Technical English
  %p Applicationdevelopment
  %p IT-Systems
  %p Linux

/ %h4 Short Version:
/ %p
/ 25, started with programming 2 years ago
/ %p
/ Wants to learn all about Ruby and Ruby on Rails
/ %p
/ Looking for an internship
/ %p
/ 2 to 4 months
/ %p
/ Wherever it takes me
