.row
  %h1.text-center RESUME
  .col-md-2
    %div.circle.yellow
      %li Professional Info
  .col-md-10
    %table
      %tr
        %td Name:
        %td Nina Stache
      %tr
        %td Age:
        %td 25
      %tr
        %td Born and Lives in:
        %td Berlin
      %tr
        %td E-Mail:
        %td NinaStache [at] gmx.de
      %tr
        %td Skype:
        %td nina.stache
      %tr
        %td Xing:
        %td= link_to 'xing', "https://www.xing.com/profile/Nina_Stache", target: :blank
      %tr
        %td Language:
        %td Ruby

.row
  .col-md-2
    %div.circle.yellow
      %li Work Experience
  .col-md-10

    %h4
      Dec 2012 - Jul 2013
    %h5
      Student Employee Engineering Performance Office
    %h5
      Company: Bombardier Transportation, Hennigsdorf (Germany)
    %p Worked on complex projects such as:Generic Work Packages
    %p Reorganization of Organizational Charts
    %p Support of the Head of Engineering Performance Office
    %p Research and implementation of project management software

    %h4
      Apr 2014 – Present
    %h5
      Apprentice IT Specialist, Application Development
    %h5
      Company: Absolventa - Employment Website, Berlin (Germany) Developing our main application which includes:
    %p Solving front-end tasks with HTML and CSS
    %p Backend development with Ruby and Ruby on Rails(currently version 4.1)
    %p Implementation of UX optimised changes
    %p Developing internal web application
    %p Writing and reviewing code
    %p Writing migration scripts and pushing changes

    %h4
      Aug 2013 – Mar 2014
    %h5
      Apprentice IT Specialist, Application Development
    %h5
      Company: DEMOS Gesellschaft für E-Partizipation, Berlin (Germany)
    %p Introduction into electrical engineering
    %p HTML and CSS
    %p Build LaTeX templates

    %h4
      Aug 2009 – Oct 2009
    %h5
      Intern
    %h5
      Company: Senate administration for urban development, Berlin (Germany)
    %p Maintenance of database
    %p Participation and recording during meeting




.row
  .col-md-2
    %div.circle.yellow
      %li Education
  .col-md-10
    %h4
      Aug 2013– Jul 2016
    %h5
      IT Specialist, Application Development EQF level 5
    Berlin College of Further Education for Information Technology and Medical Equipment Technology, Berlin (Germany)
    %h5 General
    %p Economic and Social Studies
    %p Business Economics
    %h5 Occupational
    %p Technical English
    %p Applicationdevelopment
    %p IT-Systems
    %p Linux

    %h4
      Oct 2009 – Jul 2013
    %h5
      Bachelor of Science in Urban Planning
    Technical University Berlin, Berlin (Germany)

    %h4
      Aug 2007 - Jul 2009
    %h5
      Higher education entrance qualification (A-levels)
    Rosa-Luxemburg-Gymnasium Berlin

    %h4
      Aug 2006 - Jul 2007
    %h5
      High-School-Year
    V Lyceum Ogolnoksztalcacy Dabrowa Gornicza




/ %h4 Short Version:
/ %p
/ 25, started with programming 2 years ago
/ %p
/ Wants to learn all about Ruby and Ruby on Rails
/ %p
/ Looking for an internship
/ %p
/ 2 to 4 months
/ %p
/ Wherever it takes me
