%h2 Personal Skills
%hr
%h4 Languages


%table.table.table-bordered.table-striped.table
  %thead
    %tr
      %th Language
      %th Understanding
      %th Reading
      %th Writing

  %tbody
    %tr.success
      %td English
      %td C1
      %td B2
      %td B2
    %tr.warning
      %td German
      %td mothertongue
      %td mothertongue
      %td mothertongue
    %tr.danger
      %td Polish
      %td B2
      %td B2
      %td B1
    %tr.info
      %td French
      %td A2
      %td A1
      %td A1

%h4 Communication Skills
%p
  Excellent organizational and communicational skills gained through volunteer work with pupils for a students exchange organization (YFU-Germany) for 8 years.

%h4 Job-related skills
%ul
  %li Experience with SCRUM methodology
  %li TDD
  %li Git/GitHub

%h4 Computer Skills
%ul
  %li Good command of office suite
  %li Experience with unix command-line tools
  %li HTML5, HAML, CSS3, SASS, javascript
  %li Basicu nderstanding of relational databases
  %li Ruby on Rails
  %li Ruby
  %li Basic knowledge of C#
  %li Experience using git for source-control