%h1 Travelling
%h2 Places I've been to
%ul
  %li{"data-thumb" => "/img/lightbox/bratislava.jpg"}
    %img.small{:src => "/img/lightbox/bratislava.jpg"}/
  %li{"data-thumb" => "/img/lightbox/brussels.jpg"}
    %img.small{:src => "/img/lightbox/brussels.jpg"}/
  %li{"data-thumb" => "/img/lightbox/budapest.jpg"}
    %img.small{:src => "/img/lightbox/budapest.jpg"}/
  %li{"data-thumb" => "/img/lightbox/bucarest.jpg"}
    %img.small{:src => "/img/lightbox/bucarest.jpg"}/
  %li{"data-thumb" => "/img/lightbox/istanbul.jpg"}
    %img.small{:src => "/img/lightbox/istanbul.jpg"}/
  %li{"data-thumb" => "/img/lightbox/marseille.jpg"}
    %img.small{:src => "/img/lightbox/marseille.jpg"}/
  %li{"data-thumb" => "/img/lightbox/oslo.jpg"}
    %img.small{:src => "/img/lightbox/oslo.jpg"}/
  %li{"data-thumb" => "/img/lightbox/singapore.jpg"}
    %img.small{:src => "/img/lightbox/singapore.jpg"}/
  %li{"data-thumb" => "/img/lightbox/swiss.jpg"}
    %img.small{:src => "/img/lightbox/swiss.jpg"}/
  %li{"data-thumb" => "/img/lightbox/tandem.jpg"}
    %img.small{:src => "/img/lightbox/tandem.jpg"}/
  %li{"data-thumb" => "/img/lightbox/warsaw.jpg"}
    %img.small{:src => "/img/lightbox/warsaw.jpg"}/
  %li{"data-thumb" => "/img/lightbox/warsaw.jpg"}
    %img.small{:src => "/img/lightbox/warsaw.jpg"}/

:javascript
  $(window).load(function() {
    $('.flexslider').flexslider({
      animation: "slide",
      controlNav: "thumbnails"
    });
  });