%h2r Volunteering

%h4 YFU
%p Organization and Implementation of one-week workshops with becoming exchange students
%p This includes leading and preparing 2-5 workshops per day for one week
%p Being responsible for teenagers from 14-18 years