%h2
  Aug 09 – Oct 09
%h4
  Intern
%h4
Company: Senate administration for urban development, Berlin (Germany)
%ul
  %li Maintenanceofdatabase
  %li Participationandrecordingduringmeetings

%h2
  Dec 12 - Jul 13
%h4
  Student Employee Engineering Performance Office
%h4
  Company: Bombardier Transportation, Hennigsdorf (Germany)
%ul
  %li Workedoncomplexprojectssuchas:GenericWorkPackages
  %li ReorganizationofOrganizationalCharts
  %li SupportoftheHeadofEngineeringPerformanceOffice
  %li Researchandimplementationofprojectmanagementsoftware

%h2
  Aug 13 – Mar 14
%h4
  Apprentice IT Specialist, Application Development
%h4
  Company: DEMOS Gesellschaft für E-Partizipation, Berlin (Germany)
%ul
  %li Introductionintoelectricalengineering
  %li HTMLandCSS
  %li BuildLaTeXtemplates

%h2
  Apr 14 – Present
%h4
  Apprentice IT Specialist, Application Development
%h4
  Company: Absolventa - Employment Website, Berlin (Germany) Developing our main application which includes:
%ul
  %li Solvingfront-endtaskswithHTMLandCSS
  %li BackenddevelopmentwithRubyandRubyonRails(currentlyversion4.1) %li ImplementationofUXoptimisedchanges
  %li Developinginternalwebapplication
  %li Writingandreviewingcode
  %li Writingmigrationscriptsandpushingchanges