%h2 Working Experience
%h4
  Aug 09 – Oct 09
%h5
  Intern
%h5
Company: Senate administration for urban development, Berlin (Germany)
%ul
  %li Maintenanceofdatabase
  %li Participationandrecordingduringmeetings

%hr

%h4
  Dec 12 - Jul 13
%h5
  Student Employee Engineering Performance Office
%h5
  Company: Bombardier Transportation, Hennigsdorf (Germany)
%ul
  %li Worked on complex projects such as:Generic Work Packages
  %li Reorganization of Organizational Charts
  %li Support of the Head of Engineering Performance Office
  %li Research and implementation of project management software

%hr

%h4
  Aug 13 – Mar 14
%h5
  Apprentice IT Specialist, Application Development
%h5
  Company: DEMOS Gesellschaft für E-Partizipation, Berlin (Germany)
%ul
  %li Introduction into electrical engineering
  %li HTML and CSS
  %li Build LaTeX templates

%hr

%h4
  Apr 14 – Present
%h5
  Apprentice IT Specialist, Application Development
%h5
  Company: Absolventa - Employment Website, Berlin (Germany) Developing our main application which includes:
%ul
  %li Solving front-end tasks with HTML and CSS
  %li Backend development with Ruby and Ruby on Rails(currently version 4.1)
  %li Implementation of UX optimised changes
  %li Developing internal web application
  %li Writing and reviewing code
  %li Writing migration scripts and pushing changes